<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <link rel="stylesheet" href="__CSS__/base.css">
</head>
<body>
    <div>
        <div class="box">
            <!--<form action="http://localhost/logincheck" method="post">-->
                <table>
                    <tr><th colspan="2"><h2></h2></th></tr>
                    <tr><td>{$Think.config.name.username}</td><td><input type="text" name="username" maxlength="20"></td></tr>
                    <tr><td>{$Think.config.name.password}</td><td><input type="password" name="password" maxlength="20"></td></tr>
                    <tr><td>{$Think.config.name.vcode}</td><td><input type="text" name="chack" maxlength="8"></td></tr>
                    <tr><td colspan="2">{$Think.config.truecode}</tr>
                    <tr><td colspan="2"><input type="submit" value="登录"></td></tr>
                    <!-- <tr><td width="100px"></td><td><a href="http://localhost/register/1"><input type="button" value="注册" style="margin-left: 27px"></a></td></tr> -->
                </table>
            <!--</form>-->
        </div>
    </div>
    {$Think.config.foot}
</body>
</html>