<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <style>
        td{
            font-size: 13px;
        }
        .div2{
            width: 25%;
            margin: 0 auto;
            margin-top: 16%;
        }

        table{
            width: 250px;
            height: 230px;
        }

    </style>
</head>
<body>
    <div>
        <div class="div2">
            <!--<form action="http://localhost/logincheck" method="post">-->
                <table>
                    <tr><th colspan="2"><h2>HELLO BLOG</h2></th></tr>
                    <tr><td>账号</td><td><input type="text" name="anumber" maxlength="20"></td></tr>
                    <tr><td>密码</td><td><input type="password" name="password" maxlength="20"></td></tr>
                    <tr><td>验证码</td><td><input type="text" name="chack" maxlength="8"></td></tr>
                    <tr><td colspan="2"><span>{}</span></td></tr>
                    <tr><td colspan="2"><input type="submit" value="登录"></td></tr>
                    <tr><td width="100px">还没注册？</td><td><a href="http://localhost/register"><input type="button" value="注册" style="margin-left: 27px"></a></td></tr>
                </table>
            <!--</form>-->
        </div>
    </div>

</body>
</html>