<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>register</title>
    <link rel="stylesheet" href="__CSS__/base.css">
    <!--<script type="text/javascript" src="__JS__/check.js"></script>-->
</head>
<body>
<div>
    <div class="box" id="ds">
        <form action="http://localhost/registercheck" method="post">
        <table>
            <tr><th colspan="2"><h2>注册</h2></th></tr>
            <tr><td>账号</td><td><input type="text" name="anumber" maxlength="20"></td><td><span>*必填</span></td></tr>
            <tr><td colspan="2"><p>请使用半角的 a-z 或数字 0-9</p></td></tr>
            <tr><td>密码</td><td><input type="password" name="password" maxlength="20"></td><td><span>*必填</span></td></tr>
            <tr><td>手机号</td><td><input type="text" name="pnumber" maxlength="11"></td><td><span></span></td></tr>
            <tr><td>邮箱</td><td><input type="text" name="email" maxlength="30"></td><td><span>*必填</span></td></tr>
            <tr><td colspan="3"><p>请使用真实电子邮箱注册，我们不会将你的邮箱地址分享给任何人</p></td></tr>
            <tr><td>验证码</td><td><input type="text" name="check" maxlength="8"></td><td><span>*必填</span></td></tr>
            <tr><td colspan="2">{}</td></tr>
            <tr><td>{}</td><td>{}</td></tr>
            <tr><td colspan="2"><input type="submit" value="注册" onclick="check()"></td></tr>
        </table>
        </form>
    </div>
</div>
</body>
</html>