<body>
    <div class="layui-main site-inline">
        <div class="layui-row layui-bg-gray layui-col-space30">
            <div class="layui-col-md9">
                <div class="layui-card">
                    <form class="layui-form layui-card-body" action={$Think.config.address.signinCheck} method="post">
                        <div class="layui-form-item">
                            <label class="layui-form-label">{$Think.config.name.username}</label>
                            <div class="layui-input-inline">
                                <input type="text" name="username" required lay-verify="username" class="layui-input">
                            </div>
                            <div class="layui-form-mid layui-word-aux">请输入正确的用户名</div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">{$Think.config.name.password}</label>
                            <div class="layui-input-inline">
                                <input type="password" name="password" required lay-verify="password" autocomplete="off"
                                    class="layui-input">
                            </div>
                            <div class="layui-form-mid layui-word-aux">请输入正确的密码(8-20位)</div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">{$Think.config.name.captcha}</label>
                            <div class="layui-input-inline">
                                <input type="text" name="captcha" required lay-verify="captcha" autocomplete="off"
                                    class="layui-input">
                            </div>
                            <div class="layui-form-mid layui-word-aux">请正确输入下图的验证码</div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label"></label>&nbsp</label>
                            <div class="layui-input-inline">
                                <img id="captcha" src="{$Think.config.address.captcha}" class="layui-input"
                                    onclick="refresh(this)">
                            </div>
                            <div class="layui-form-mid layui-word-aux">点击刷新</div>
                        </div>
                        
                        {:token('token')}
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn" lay-submit lay-filter="formDemo" onclick="refreshcaptcha()">立即提交</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="layui-col-md3">
                <div class="layui-card">
                    <div class="layui-card-header">
                        还没注册?
                    </div>
                    <div class="layui-card-body">
                        <button type="button" class="layui-btn layui-btn-radius layui-btn-primary">
                            <a href={$Think.config.address.register}>现在注册</a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div><br />
    <div class="layui-footer">
        {$Think.config.foot}
    </div>
</body>
<script>

    //注意：导航 依赖 element 模块，否则无法进行功能性操作
    layui.use('element', function () {
        var element = layui.element;

        //…
    });

    //Demo
    layui.use('form', function () {
        var form = layui.form;

        form.verify({
            username: [
                /^[0-9A-Za-z]{1,30}$/
                , '请使用半角的 A-Za-z 或数字 0-9 且大小不超过30'
            ]
            , password: [
                /^[\S]{8,20}$/
                , '密码必须8到20位，且不能出现空格'
            ]
            , captcha: [
                /^[0-9A-Za-z]{5}$/
                , '请输入正确格式的验证码'
            ],
        });
    });
</script>

</html>